.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.iteams-center{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;;
}

.m1{
    margin: 10px;
}

.p1{
    padding: 10px;
}
